-e git+git@github.com:elastic/elasticsearch-py.git#egg=elasticsearch
-e git+git@github.com:elastic/elasticsearch-x-pack-py.git#egg=elasticsearch_xpack
idna==2.1
lxml==3.6.4
ndg-httpsclient==0.4.2
ordereddict==1.1
protobuf==3.1.0.post1
pyOpenSSL==16.1.0
pyasn1==0.1.9
simplejson==3.8.2
six==1.10.0
urllib3==1.17
